In [1]:
import pandas as pd

In [2]:
list_1 = [1,2,3,4.5,"indian"]

In [3]:
print(list_1)

[1, 2, 3, 4.5, 'indian']

In [4]:
series1 = pd.Series(list_1)
series1

0         1
1         2
2         3
3       4.5
4    indian
dtype: object

In [5]:
type(series1)

pandas.core.series.Series

In [6]:
empty_series = pd.Series([])
empty_series

c:\users\syan\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [8]:
series2 = pd.Series([1,2,3,4,5])
series2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
series2 = pd.Series([1,2,3,4,5] , index=['a','b','c','d','e'])

In [10]:
series2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
series2 = pd.Series([1,2,3,4,5] , index="a b c d e".split() , dtype=float)
series2

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [12]:
scalar = pd.Series(3)
scalar

0    3
dtype: int64

In [13]:
scalar=pd.Series(3,index='1 2 3 4 5 6'.split())
scalar

1    3
2    3
3    3
4    3
5    3
6    3
dtype: int64

In [14]:
dict = pd.Series({'a':1,"b":2,"c":3})
dict

a    1
b    2
c    3
dtype: int64

In [15]:
series2

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [16]:
series2[3]

4.0

In [17]:
series2[1:3]

b    2.0
c    3.0
dtype: float64

In [18]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([5,6,7,8,9])

In [19]:
sum = s1+s2
sum

0     6
1     8
2    10
3    12
4    14
dtype: int64

In [20]:
s1.add(s2)

0     6
1     8
2    10
3    12
4    14
dtype: int64

In [21]:
min(sum)

6

In [22]:
max(sum)

14

In [23]:
sum[sum<8]

0    6
dtype: int64

In [25]:
sum.drop(4)

0     6
1     8
2    10
3    12
dtype: int64